.header {
	height: 100px;
	width: 100%;
	background-color: #6a95c7;
	color: white;
	text-align: center;
	font-size: 25px;
	padding-top: 30px;
	border-bottom: 1px solid white;

	.link-button {
		float: right;
		margin-right: 20px;
	}
	
}