//Primary colors ordered by priority
$STYLE-COLOR-PRIMARY-1-BLUE-DARK: #146db6;
$STYLE-COLOR-PRIMARY-2-BLUE-LIGHT: #41ace2;
$STYLE-COLOR-PRIMARY-3-PURPLE-MEDIUM: #8182bf;
$STYLE-COLOR-PRIMARY-4-BLUE-ICE: #9fdcef;
$STYLE-COLOR-PRIMARY-5-PURPLE-ROYAL: #263e94;

//Secondary colors ordered by priority
$STYLE-COLOR-SECONDARY-1-RED-SALMON: #ed5841;
$STYLE-COLOR-SECONDARY-2-GREEN-LIME: #a3c854;
$STYLE-COLOR-SECONDARY-3-RED-POMEGRANATE: #dd4056;
$STYLE-COLOR-SECONDARY-4-GREEN-GRASS: #178a6d;
$STYLE-COLOR-SECONDARY-5-PINK-PEACH: #f69c83;
$STYLE-COLOR-SECONDARY-6-YELLOW-BANANA: #efd43e;
$STYLE-COLOR-SECONDARY-7-PURPLE-GRAPE: #5954a4;

//-------------------------------------------------------------------------------------------------
//Background colors
//Dark theme
$STYLE-COLOR-BACKGROUND-DARK-1-CHARCOAL-DEEP: #242424;
$STYLE-COLOR-BACKGROUND-DARK-2-CHARCOAL-MEDIUM: #282827;
$STYLE-COLOR-BACKGROUND-DARK-3-CHARCOAL: #313132;
$STYLE-COLOR-BACKGROUND-DARK-4-BLUE-MARQUEE: #6a95c7;

//Light theme
$STYLE-COLOR-BACKGROUND-LIGHT-1-WHITE: #ffffff;
$STYLE-COLOR-BACKGROUND-LIGHT-2-GRAY-LIGHT-WEAK: #f9fafe;
$STYLE-COLOR-BACKGROUND-LIGHT-3-GRAY-LIGHT: #f3f4f8;
$STYLE-COLOR-BACKGROUND-LIGHT-4-GRAY-MEDIUM: #e7eaef;
$STYLE-COLOR-BACKGROUND-LIGHT-4-GRAY-MEDIUM-STRONG: #e5e5e7;

//-------------------------------------------------------------------------------------------------
//Bar graph colors in order
$STYLE-COLOR-GRAPH-BAR-1-BLUE-LIGHT: $STYLE-COLOR-PRIMARY-2-BLUE-LIGHT;
$STYLE-COLOR-GRAPH-BAR-2-BLUE-DARK: $STYLE-COLOR-PRIMARY-1-BLUE-DARK;
$STYLE-COLOR-GRAPH-BAR-3-PURPLE-MEDIUM: $STYLE-COLOR-PRIMARY-3-PURPLE-MEDIUM;
$STYLE-COLOR-GRAPH-BAR-4-GREEN-GRASS: $STYLE-COLOR-SECONDARY-4-GREEN-GRASS;
$STYLE-COLOR-GRAPH-BAR-5-BLUE-ICE: $STYLE-COLOR-PRIMARY-4-BLUE-ICE;
$STYLE-COLOR-GRAPH-BAR-6-GREEN-LIME: $STYLE-COLOR-SECONDARY-2-GREEN-LIME;
$STYLE-COLOR-GRAPH-BAR-7-RED-SALMON: $STYLE-COLOR-SECONDARY-1-RED-SALMON;
$STYLE-COLOR-GRAPH-BAR-8-PURPLE-ROYAL: $STYLE-COLOR-PRIMARY-5-PURPLE-ROYAL;
$STYLE-COLOR-GRAPH-BAR-9-PURPLE-GRAPE: $STYLE-COLOR-SECONDARY-7-PURPLE-GRAPE;
$STYLE-COLOR-GRAPH-BAR-10-RED-POMEGRANATE: $STYLE-COLOR-SECONDARY-3-RED-POMEGRANATE;

//-------------------------------------------------------------------------------------------------
//Chart colors in order
$STYLE-COLOR-CHART-1-BLUE-DARK: $STYLE-COLOR-PRIMARY-1-BLUE-DARK;
$STYLE-COLOR-CHART-2-RED-SALMON: $STYLE-COLOR-SECONDARY-1-RED-SALMON;
$STYLE-COLOR-CHART-3-GREEN-LIME: $STYLE-COLOR-SECONDARY-2-GREEN-LIME;
$STYLE-COLOR-CHART-4-BLUE-LIGHT: $STYLE-COLOR-PRIMARY-2-BLUE-LIGHT;
$STYLE-COLOR-CHART-5-PURPLE-MEDIUM: $STYLE-COLOR-PRIMARY-3-PURPLE-MEDIUM;
$STYLE-COLOR-CHART-6-PURPLE-ROYAL: $STYLE-COLOR-PRIMARY-5-PURPLE-ROYAL;
$STYLE-COLOR-CHART-7-BLUE-ICE: $STYLE-COLOR-PRIMARY-4-BLUE-ICE;
$STYLE-COLOR-CHART-8-YELLOW-BANANA: $STYLE-COLOR-SECONDARY-6-YELLOW-BANANA;
$STYLE-COLOR-CHART-9-GREEN-GRASS: $STYLE-COLOR-GRAPH-BAR-4-GREEN-GRASS;
$STYLE-COLOR-CHART-10-RED-POMEGRANATE: $STYLE-COLOR-SECONDARY-3-RED-POMEGRANATE;
$STYLE-COLOR-CHART-11-PINK-PEACH: $STYLE-COLOR-SECONDARY-5-PINK-PEACH;
$STYLE-COLOR-CHART-12-PURPLE-GRAPE: $STYLE-COLOR-SECONDARY-7-PURPLE-GRAPE;

//-------------------------------------------------------------------------------------------------
